<div class="form-group">
<label for="{{formName+index}}" class="col-sm-3 control-label" ng-class="{'fb-required':required}">{{label}}</label>
    <div class="col-md-9">
        <table class="table table-bordered rounded">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Connector</th>
                    <th>Status</th>
                    <th>Views</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1Z45R</td>
                    <td><span class="color-success"><i class="fa fa-level-up"></i></span> TWLT</td>
                    <td><span class="label label-info">P</span></td>
                    <td><progressbar class="progressbar-xs no-margin" value="55"></progressbar></td>
                </tr>
                <tr>
                    <td>2R3F</td>
                    <td><span class="color-success"><i class="fa fa-level-up"></i></span> A16Z</td>
                    <td><span class="label label-primary">D</span></td>
                    <td><progressbar class="progressbar-xs no-margin" value="34" type="success"></progressbar></td>
                </tr>
                <tr>
                    <td>3TYH4</td>
                    <td><span class="color-warning"><i class="fa fa-level-down"></i></span> D1RK</td>
                    <td><span class="label label-success">S</span></td>
                    <td><progressbar class="progressbar-xs no-margin" value="68" type="info"></progressbar></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>