<div class="form-group" data-ng-controller="ResultsCtrl">
<label for="{{formName+index}}" class="col-sm-3 control-label" ng-class="{'fb-required':required}">{{label}}</label>
    <div class="col-md-9">

        <section class="panel panel-default">
                   <table class="table table-hover table-responsive">
                    <tr class="mail-unread">
                        <td><i class="fa fa-file-word-o color-info"></i></td>
                        <td>ATandT_CZE_Bricks-and-Contracts.doc</td>
                        <td><i class="fa fa-search" tooltip-placement="left" tooltip="View" tooltip-append-to-body="true"></i> <i class="fa fa-pencil" tooltip-placement="left" tooltip="Edit" tooltip-append-to-body="true"></i> <i class="fa fa-star" tooltip-placement="left" tooltip="Save" tooltip-append-to-body="true"></i></td>
                    </tr>

                    <tr class="mail-unread">
                        <td><i class="fa fa-file-word-o color-info"></i></td>
                        <td>Contracts Negotation.doc</td>
                        <td><i class="fa fa-search" tooltip-placement="left" tooltip="View" tooltip-append-to-body="true"></i> <i class="fa fa-pencil" tooltip-placement="left" tooltip="Edit" tooltip-append-to-body="true"></i> <i class="fa fa-star" tooltip-placement="left" tooltip="Save" tooltip-append-to-body="true"></i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-file-pdf-o color-danger"></i></td>
                        <td>Contracts Negotation.pdf</td>
                        <td><i class="fa fa-search" tooltip-placement="left" tooltip="View" tooltip-append-to-body="true"></i> <i class="fa fa-pencil" tooltip-placement="left" tooltip="Save" tooltip-append-to-body="true"></i> <i class="fa fa-star active" tooltip-placement="left" tooltip="Save" tooltip-append-to-body="true"></i></td>
                    </tr>



                </table>
                </section>
 
    </div>
</div>