<tabset justified="true" class="ui-tab">
   <tab heading="Live">
   <!-- #Temporary page for "List View" of Search Demo -->
<div class="page" data-ng-controller="tableCtrl">
    <section class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <form role="form">
                    <div class="input-group input-group-lg">
                        <input type="text" placeholder="Search Files..." class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
                                <i class="glyphicon glyphicon-filter"></i>
                                <span class="sr-only">Filter Search</span>
                            </button>
                            <button class="btn btn-primary" type="button" data-ng-click="search()">
                                <i class="hidden-lg glyphicon glyphicon-search"></i>
                                <span class="visible-lg">Search</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" collapse="isCollapsed">
            <div class="col-lg-12">
                <div class="divider divider-md"></div>
                <div class="panel panel-default">
                    <div class="panel-heading">Advanced Search Options</div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li class="col-lg-6">
                                <h4>Size</h4>
                                <input type="text" value="" ui-range-slider data-slider-min="0" data-slider-max="100" data-slider-step="10" data-slider-orientation="horizontal" data-slider-value="[20, 80]" data-slider-selection="before" data-slider-tooltip="show" data-slider-handle="round">
                            </li>
                            <li class="col-lg-6">
                                <h4>Time</h4>
                                <div class="btn-group" dropdown on-toggle="toggled(open)">
                                    <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
                                        Button dropdown <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Today</a>
                                        </li>
                                        <li><a href="#">Past Week</a>
                                        </li>
                                        <li><a href="#">Past Month</a>
                                        </li>
                                        <li><a href="#">Past Six Months</a>
                                        </li>
                                        <li><a href="#">Past Year</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="col-lg-12">
                                    <div class="divider divider-sm"></div>
                                    <h4>Type</h4>
                                    <label class="ui-checkbox">
                                        <input name="Select All" type="checkbox" value="all"><span>Select All</span>
                                    </label>
                                    <label class="ui-checkbox">
                                        <input name="Unselect All" type="checkbox" value="none"><span>Unselect All</span>
                                    </label>
                                    <label class="ui-checkbox">
                                        <input name="Powerpoint" type="checkbox" value="Ppwerpoint"><span>Powerpoint</span>
                                    </label>
                                    <label class="ui-checkbox">
                                        <input name="Social" type="checkbox" value="social"><span>Social</span>
                                    </label>
                                    <label class="ui-checkbox">
                                        <input name="Legal" type="checkbox" value="legal"><span>Legal</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="search-toolbar clearfix">
                <div class="col-xs-6">
                    <p class="va-middle">Viewing {{stores.length}} Documents</p>
                </div>
                <div class="col-xs-6">
                    <div class="pull-right">
                        <div class="btn-group" data-ng-controller="sparklineCtrl">
                            <a href="#/charts/charts" class="btn btn-default">
                                <span data-sparkline data-data="simpleChart2.data" data-options="simpleChart2.options" class="nav-chart-icon"></span>&nbsp;&nbsp;View Reports
                            </a>
                        </div>
                        <div class="btn-group">
                            <a href="#/tables/responsive-filters" class="btn btn-default" ng-model="checkModel.active" btn-checkbox><i class="glyphicon glyphicon-th-list"></i></a>
                            <a href="#/tables/dynamic" class="btn btn-default" ng-model="checkModel.grid" btn-checkbox><i class="glyphicon glyphicon-th-large"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel panel-default">
                    <table class="table table-responsive">
                        <tbody>
                            <tr data-ng-repeat="store in currentPageStores" class="search-list">
                                <td class="text-center va-middle">
                                    <span class="h1"><i class="glyphicon glyphicon-{{store.type_icon}}"></i></span>
                                </td>
                                <td>
                                    <h1 class="h3">{{store.name}} <small>{{store.type}}</small></h1>
                                    <p>Views: {{store.views}}, Created: {{store.creation_date}}</p>
                                </td>
                                <td class="va-middle">
                                    <div class="btn-group pull-right" dropdown is-open="status.isopen">
                                        <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
                                            Action <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Download</a>
                                            </li>
                                            <li><a href="#">Make Copy</a>
                                            </li>
                                            <li><a href="#">View</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a class="text-warning" href="#">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
         <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>
</div>
<!-- # end live tab--></tab>
   <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script> 
   <tab heading="Angular HTML">
       <?prettify lang=html?>
       <pre class="prettyprint lang-html"><code>
  &lt;div class=&quot;page&quot; data-ng-controller=&quot;searchCtrl&quot;&gt;
    &lt;section class=&quot;container-fluid&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-lg-12&quot;&gt;
                &lt;form role=&quot;form&quot;&gt;
                    &lt;div class=&quot;input-group input-group-lg&quot;&gt;
                        &lt;input type=&quot;text&quot; placeholder=&quot;Search Files...&quot; class=&quot;form-control&quot; data-ng-model=&quot;searchKeywords&quot; data-ng-keyup=&quot;search()&quot;&gt;
                        &lt;div class=&quot;input-group-btn&quot;&gt;
                            &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; ng-click=&quot;isCollapsed = !isCollapsed&quot;&gt;
                                &lt;i class=&quot;glyphicon glyphicon-filter&quot;&gt;&lt;/i&gt;
                                &lt;span class=&quot;sr-only&quot;&gt;Filter Search&lt;/span&gt;
                            &lt;/button&gt;
                            &lt;button class=&quot;btn btn-primary&quot; type=&quot;button&quot; data-ng-click=&quot;search()&quot;&gt;
                                &lt;i class=&quot;hidden-lg glyphicon glyphicon-search&quot;&gt;&lt;/i&gt;
                                &lt;span class=&quot;visible-lg&quot;&gt;Search&lt;/span&gt;
                            &lt;/button&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/form&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;row&quot; collapse=&quot;isCollapsed&quot;&gt;
            &lt;div class=&quot;col-lg-12&quot;&gt;
                &lt;div class=&quot;divider divider-md&quot;&gt;&lt;/div&gt;
                &lt;div class=&quot;panel panel-default&quot;&gt;
                    &lt;div class=&quot;panel-heading&quot;&gt;Advanced Search Options&lt;/div&gt;
                    &lt;div class=&quot;panel-body&quot;&gt;
                        &lt;ul class=&quot;list-unstyled&quot;&gt;
                            &lt;li class=&quot;col-lg-6&quot;&gt;
                                &lt;h4&gt;Size&lt;/h4&gt;
                                &lt;input type=&quot;text&quot; value=&quot;&quot; ui-range-slider data-slider-min=&quot;0&quot; data-slider-max=&quot;100&quot; data-slider-step=&quot;10&quot; data-slider-orientation=&quot;horizontal&quot; data-slider-value=&quot;[20, 80]&quot; data-slider-selection=&quot;before&quot; data-slider-tooltip=&quot;show&quot; data-slider-handle=&quot;round&quot;&gt;
                            &lt;/li&gt;
                            &lt;li class=&quot;col-lg-6&quot;&gt;
                                &lt;h4&gt;Time&lt;/h4&gt;
                                &lt;div class=&quot;btn-group&quot; dropdown on-toggle=&quot;toggled(open)&quot;&gt;
                                    &lt;button type=&quot;button&quot; class=&quot;btn btn-primary dropdown-toggle&quot; ng-disabled=&quot;disabled&quot;&gt;
                                        Button dropdown &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;
                                    &lt;/button&gt;
                                    &lt;ul class=&quot;dropdown-menu&quot; role=&quot;menu&quot;&gt;
                                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Today&lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Past Week&lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Past Month&lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Past Six Months&lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Past Year&lt;/a&gt;
                                        &lt;/li&gt;
                                    &lt;/ul&gt;
                                &lt;/div&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                                &lt;div class=&quot;col-lg-12&quot;&gt;
                                    &lt;div class=&quot;divider divider-sm&quot;&gt;&lt;/div&gt;
                                    &lt;h4&gt;Type&lt;/h4&gt;
                                    &lt;label class=&quot;ui-checkbox&quot;&gt;
                                        &lt;input name=&quot;Select All&quot; type=&quot;checkbox&quot; value=&quot;all&quot;&gt;&lt;span&gt;Select All&lt;/span&gt;
                                    &lt;/label&gt;
                                    &lt;label class=&quot;ui-checkbox&quot;&gt;
                                        &lt;input name=&quot;Unselect All&quot; type=&quot;checkbox&quot; value=&quot;none&quot;&gt;&lt;span&gt;Unselect All&lt;/span&gt;
                                    &lt;/label&gt;
                                    &lt;label class=&quot;ui-checkbox&quot;&gt;
                                        &lt;input name=&quot;Powerpoint&quot; type=&quot;checkbox&quot; value=&quot;Ppwerpoint&quot;&gt;&lt;span&gt;Powerpoint&lt;/span&gt;
                                    &lt;/label&gt;
                                    &lt;label class=&quot;ui-checkbox&quot;&gt;
                                        &lt;input name=&quot;Social&quot; type=&quot;checkbox&quot; value=&quot;social&quot;&gt;&lt;span&gt;Social&lt;/span&gt;
                                    &lt;/label&gt;
                                    &lt;label class=&quot;ui-checkbox&quot;&gt;
                                        &lt;input name=&quot;Legal&quot; type=&quot;checkbox&quot; value=&quot;legal&quot;&gt;&lt;span&gt;Legal&lt;/span&gt;
                                    &lt;/label&gt;
                                &lt;/div&gt;
                            &lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;search-toolbar clearfix&quot;&gt;
                &lt;div class=&quot;col-xs-6&quot;&gt;
                    &lt;p class=&quot;va-middle&quot;&gt;Viewing {{stores.length}} Documents&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-xs-6&quot;&gt;
                    &lt;div class=&quot;pull-right&quot;&gt;
                        &lt;div class=&quot;btn-group&quot; data-ng-controller=&quot;sparklineCtrl&quot;&gt;
                            &lt;a href=&quot;#/charts/charts&quot; class=&quot;btn btn-default&quot;&gt;
                                &lt;span data-sparkline data-data=&quot;simpleChart2.data&quot; data-options=&quot;simpleChart2.options&quot; class=&quot;nav-chart-icon&quot;&gt;&lt;/span&gt;&amp;nbsp;&amp;nbsp;View Reports
                            &lt;/a&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;btn-group&quot;&gt;
                            &lt;a href=&quot;#/tables/responsive-filters&quot; class=&quot;btn btn-default&quot; ng-model=&quot;checkModel.active&quot; btn-checkbox&gt;&lt;i class=&quot;glyphicon glyphicon-th-list&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                            &lt;a href=&quot;#/tables/dynamic&quot; class=&quot;btn btn-default&quot; ng-model=&quot;checkModel.grid&quot; btn-checkbox&gt;&lt;i class=&quot;glyphicon glyphicon-th-large&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-lg-12&quot;&gt;
                &lt;section class=&quot;panel panel-default&quot;&gt;
                    &lt;table class=&quot;table table-responsive&quot;&gt;
                        &lt;tbody&gt;
                            &lt;tr data-ng-repeat=&quot;store in currentPageStores&quot; class=&quot;search-list&quot;&gt;
                                &lt;td class=&quot;text-center va-middle&quot;&gt;
                                    &lt;span class=&quot;h1&quot;&gt;&lt;i class=&quot;glyphicon glyphicon-{{store.type_icon}}&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                                &lt;/td&gt;
                                &lt;td&gt;
                                    &lt;h1 class=&quot;h3&quot;&gt;{{store.name}} &lt;small&gt;{{store.type}}&lt;/small&gt;&lt;/h1&gt;
                                    &lt;p&gt;Views: {{store.views}}, Created: {{store.creation_date}}&lt;/p&gt;
                                &lt;/td&gt;
                                &lt;td class=&quot;va-middle&quot;&gt;
                                    &lt;div class=&quot;btn-group pull-right&quot; dropdown is-open=&quot;status.isopen&quot;&gt;
                                        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary dropdown-toggle&quot; ng-disabled=&quot;disabled&quot;&gt;
                                            Action &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;
                                        &lt;/button&gt;
                                        &lt;ul class=&quot;dropdown-menu&quot; role=&quot;menu&quot;&gt;
                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Download&lt;/a&gt;
                                            &lt;/li&gt;
                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Make Copy&lt;/a&gt;
                                            &lt;/li&gt;
                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;View&lt;/a&gt;
                                            &lt;/li&gt;
                                            &lt;li class=&quot;divider&quot;&gt;&lt;/li&gt;
                                            &lt;li&gt;&lt;a class=&quot;text-warning&quot; href=&quot;#&quot;&gt;Delete&lt;/a&gt;
                                            &lt;/li&gt;
                                        &lt;/ul&gt;
                                    &lt;/div&gt;
                                &lt;/td&gt;
                            &lt;/tr&gt;
                        &lt;/tbody&gt;
                    &lt;/table&gt;
                &lt;/section&gt;
            &lt;/div&gt;
        &lt;/div&gt;
         &lt;footer class=&quot;table-footer&quot;&gt;
            &lt;div class=&quot;row&quot;&gt;
                &lt;div class=&quot;col-md-6 page-num-info&quot;&gt;
                    &lt;span&gt;
                        Show 
                        &lt;select data-ng-model=&quot;numPerPage&quot;
                                data-ng-options=&quot;num for num in numPerPageOpt&quot;
                                data-ng-change=&quot;onNumPerPageChange()&quot;&gt;
                        &lt;/select&gt; 
                        entries per page
                    &lt;/span&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-md-6 text-right pagination-container&quot;&gt;
                    &lt;pagination class=&quot;pagination-sm&quot;
                                ng-model=&quot;currentPage&quot;
                                total-items=&quot;filteredStores.length&quot;
                                max-size=&quot;4&quot;
                                ng-change=&quot;select(currentPage)&quot;
                                items-per-page=&quot;numPerPage&quot;
                                rotate=&quot;false&quot;
                                previous-text=&quot;&amp;lsaquo;&quot; next-text=&quot;&amp;rsaquo;&quot;
                                boundary-links=&quot;true&quot;&gt;&lt;/pagination&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/footer&gt;
    &lt;/section&gt;
&lt;/div&gt;
       </code></pre>
    
   <!-- #end angular tab--></tab>
   <tab heading="Coffeescript">
       <?prettify lang=javascript?>
       <pre class="prettyprint"  lang-javascript><code>
       'use strict'

angular.module('app.search', [])

.controller('searchCtrl', [
    '$scope', '$filter'
    ($scope, $filter) ->
        $scope.searchKeywords = ''
        $scope.filteredStores = []
        $scope.row = ''

        $scope.select = (page) ->
            start = (page - 1) * $scope.numPerPage
            end = start + $scope.numPerPage
            $scope.currentPageStores = $scope.filteredStores.slice(start, end)
            # console.log start
            # console.log end
            # console.log $scope.currentPageStores

        # on page change: change numPerPage, filtering string
        $scope.onFilterChange = ->
            $scope.select(1)
            $scope.currentPage = 1
            $scope.row = ''

        $scope.onNumPerPageChange = ->
            $scope.select(1)
            $scope.currentPage = 1

        $scope.onOrderChange = ->
            $scope.select(1)
            $scope.currentPage = 1            


        $scope.search = ->
            $scope.filteredStores = $filter('filter')($scope.stores, $scope.searchKeywords)
            $scope.onFilterChange()

        # orderBy
        $scope.order = (rowName)->
            if $scope.row == rowName
                return
            $scope.row = rowName
            $scope.filteredStores = $filter('orderBy')($scope.stores, rowName)
            # console.log $scope.filteredStores
            $scope.onOrderChange()

        # pagination
        $scope.numPerPageOpt = [3, 5, 10, 20]
        $scope.numPerPage = $scope.numPerPageOpt[2]
        $scope.currentPage = 1
        $scope.currentPageStores = []
        
        $scope.changeView = (view)->
            $location.path(view)
    
        $scope.checkModel = {
            list: false,
            grid: false,
            active: true
        };
    
        $scope.isCollapsed = true

        # init
        init = ->
            $scope.search()
            $scope.select($scope.currentPage)
        init()
])
       </code></pre>
   </tab>
   <tab heading="SASS">
       <pre class="prettyprint lang-css"><code>
       
// Shared variables and mixins
@import 
    "../global/var"                        // global variables
,   "../bootstrap/bootstrap/mixins"        // Bootstrap mixins
,   "../bourbon/bourbon"                   // mixins
;

@import
    // Core CSS
    "components/scaffolding"
,   "components/grid"
,   "components/type"
,   "components/tables"
,   "components/tables-responsive"
,   "components/form-checkbox-radio"
,   "components/form-editor"
,   "components/form-elements"
,   "components/form-input"
,   "components/form-select"
,   "components/form-spinner"
,   "components/form-switch"
,   "components/form-validation"
,   "components/buttons"

    // Components
,   "components/animation"
,   "components/badges"
,   "components/breadcrumbs"
,   "components/bullets"
,   "components/callout"
,   "components/charts"
,   "components/dropdowns"
,   "components/icons"
,   "components/image-size"
,   "components/labels"
,   "components/list-group"
,   "components/mail"
,   "components/mail-compose"
,   "components/navs"
,   "components/panels"
,   "components/popovers"
,   "components/pricing-tables"
,   "components/ribbons"
,   "components/sprites"
,   "components/timeline"
,   "components/tooltip"

    // Components w/ JavaScript
,   "components/accordion"
,   "components/map"
,   "components/pagination"
,   "components/progress-bars"
,   "components/tab"
;
       </code></pre></tab>
</tabset>