<div class="page-err">
    <div class="err-container text-center">
        <div class="err">
            <div class="err-inner">
                 <h1>404</h1>
                 <h2>Whoops! This cannot be found.</h2>
             </div>
        </div>

        <div class="err-mss">
            <p>Sorry, the page you were looking for doesn't exist.</p>
        </div>
        <div class="err-body">
            <a href="#/" class="btn btn-lg btn-primary">
                <span class="glyphicon glyphicon-home"></span>
                <span class="space"></span>
                Go Back
            </a>
        </div>
    </div>
<!--     <div class="footer text-center">
        Copyright 2014 {{main.brand}} Admin
    </div> -->
</div>